<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- Favicons -->
	<link th:href="@{../assets/img/favicon.png}" rel="icon">
	<link th:href="@{../assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>


	<!-- Template Main CSS File -->
	<link th:href="@{../assets/css/style.css}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/3580c0d03d.js" crossorigin="anonymous"></script>
</head>

<body ng-app="app" ng-controller="apartmentCtrl">
	<!-- Header -->
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-between">
			<a href="#" class="logo d-flex align-items-center">
				<img th:src="@{/assets/img/logo.png}" alt="">
				<span class="d-none d-lg-block">Admin</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST" action="#">
				<input type="text" name="query" placeholder="Search" title="Enter search keyword">
				<button type="submit" title="Search"><i class="bi bi-search"></i></button>
			</form>
		</div>

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li>

				<li class="nav-item dropdown pe-3">
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
						<span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
					</a>
				</li>
			</ul>
		</nav>
	</header><!-- End Header -->

	<!-- Sidebar -->
	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartment}">
					<i class="bi bi-grid"></i>
					<span>Apartment</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartmentType}">
					<i class="bi bi-journal-text"></i>
					<span>ApartType</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/revenue}">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>Revenue</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/rented}">
					<i class="bi bi-envelope"></i>
					<span>Rented</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartStatus}">
					<i class="bi bi-card-list"></i>
					<span>Apart Status</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/accountManagement}">
					<i class="bi bi-person"></i>
					<span>Account management</span>
				</a>
			</li>
		</ul>
	</aside><!-- End Sidebar -->

	<!-- Main Content -->
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Account management</h1>
		</div><!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Edit account</h5>
							<!-- <div class="alert alert-success" th:if="${not #strings.isEmpty(messageApartment)}" th:text="${messageApartment}"></div> -->
							<!-- General Form Elements -->
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="content">Apartment Content:</label>
											<input type="text" id="content" name="content" class="form-control" ng-model="form.content" 
												 />
											<!-- <p class="text-info" th:if="${#fields.hasErrors('content')}"
												th:errors="*{content}"></p> -->
										</div> <br>
										<div class="form-group">
											<label for="apartmentType">Apartment Type:</label>
											<select id="apartmentType" name="apartmentType" class="form-control" ng-model="form.apartmentType" ng-options="type as type.name for type in cates track by type.id">
												<option value="" disabled selected>Choose apartment type</option>
											</select>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('apartmentType')}"
												th:errors="*{apartmentType}"></p> -->
										</div><br>
										<div class="form-group">
											<label for="price">Apartment Price:</label>
											<input type="text" id="price" name="price" class="form-control" ng-model="form.price"/>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('price')}"
												th:errors="*{price}"></p> -->
										</div><br>
										<div class="form-group">
											<label for="acreage">Apartment Acreage:</label>
											<input type="text" id="acreage" name="acreage" class="form-control"
												 ng-model="form.acreage"/>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('acreage')}"
												th:errors="*{acreage}"></p> -->
										</div><br>
										<div class="form-group">
											<label for="apartImageTitleInput">Apartment Image:</label>
											<input type="file" accept="image/*" multiple class="form-control" 
												onchange="angular.element(this).scope().upload(this.files)" />
											<label ng-repeat="filename in currentfiles" title="Double click to delete" style="margin-top: 10px;">
												<img ng-src="../images/{{filename | removeBrackets}}" width="100" height="100" style="margin-right: 10px;">
											</label>
										</div><br>
										<!-- Other image inputs -->
									</div>
									<div class="col-md-6">
										<label for="citySelect">Tỉnh/Thành phố:</label>
										<select id="citySelect" ng-model="selectedCityId" ng-change="updateDistricts()"
           									ng-options="city.Id as city.Name for city in cities" >
											<option value="">Chọn Thành phố</option>
										</select><br><br>

										<!-- Quận/Huyện -->
										<label for="districtSelect">Quận/Huyện:</label>
										<select id="districtSelect" name="districtValue" ng-model="selectedDistrictId" ng-change="updateWards()"
            								ng-options="district.Id as district.Name for district in districts" ng-disabled="!districts.length">
											<option value="">Chọn Quận</option>
										</select><br><br>

										<!-- Phường/Xã -->
										<label for="wardSelect">Phường/Xã:</label>
										<select id="wardSelect" ng-model="selectedWardId"
            								ng-options="ward.Id as ward.Name for ward in wards" ng-disabled="!wards.length">
											<option value="">Chọn Phường</option>
										</select><br><br>

										<div class="form-group">
											<label for="address">Apartment address:</label>
											<input type="text" id="address" name="address" class="form-control"
											 ng-model="form.address"/>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('address')}"
												th:errors="*{address}"></p> -->
										</div><br>

										<div class="form-group">
											<label for="description">Apartment Description:</label>
											<textarea id="description" name="description" ng-model="form.description"
												class="form-control"></textarea>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('description')}"
												th:errors="*{description}"></p> -->
										</div><br>

										<div class="form-group">
											<label for="status">Status:</label>
											<div>
												<select id="" name="" ng-model="form.status">
													<option value="Active" selected >Active</option>
													<option value="No Active" >No Active</option>
													<option value="Rented" >Rented</option>
												</select><br><br>
											</div>
											<!-- <p class="text-info" th:if="${#fields.hasErrors('status')}"
												th:errors="*{status}"></p> -->
										</div>
									</div>
								</div>
								<br>
								<!-- Form action buttons -->
								<button class="btn btn-primary" 
									ng-click="create()">Save</button>
								<button class="btn btn-secondary" 
									ng-click="update()">Update</button>
								<button class="btn btn-danger" 
									formaction="/admin/deleteApartment">Delete</button>
							</form>
							<hr>
							<form ng-submit="uploadFile()">
						        <input type="file" id="file" onchange="angular.element(this).scope().import(this.files)" />
						        <button class="btn btn-primary" type="submit">Upload By Excel</button>
						    </form>
							<hr>
							<!-- End
                             <!-- Table of Account information -->
							<div class="table-responsive">
								<h5 class="card-title">Account information</h5>
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Content</th>
											<th>Type</th>
											<th>Price</th>
											<th>Acreage</th>
											<th>Address</th>
											<th>City</th>
											<th>District</th>
											<th>Ward</th>
											<th>Description</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop through apartmentList -->
										<tr ng-repeat= "item in items">
											<td>{{item.id}}</td>
											<td>{{item.content}}</td>
											<td>{{item.apartmentType.name}}</td>
											<td>{{item.price | number:2}}</td>
											<td>{{item.acreage}}</td>
											<td>{{item.address}}</td>
											<td>{{item.city}}</td>
											<td>{{item.district}}</td>
											<td>{{item.ward}}</td>
											<td>{{item.description}}</td>
											<td>
												<!-- Edit and Delete buttons -->
												<a ng-click="edit(item)" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
												<a ng-click="delete(item)" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
											</td>
										</tr>End loop
									</tbody>
								</table>
							</div><!-- End Table -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</main><!-- End #main -->

	<!-- Footer -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyrights <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
	</footer><!-- End Footer -->

	<!-- Back to Top Button -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	


</body>
<!-- JavaScript Files -->
	<script th:src="@{../assets/angular.min.js}"></script>
	<script th:src="@{../assets/js/apartment.js}"></script>

	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>


</html>