<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>

<body>	
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="#" class="logo d-flex align-items-center">
				<img th:src="@{/assets/img/logo.png}" alt="">
				<span class="d-none d-lg-block">Admin</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST" action="#">
				<input type="text" name="query" placeholder="Search" title="Enter search keyword">
				<button type="submit" title="Search"><i class="bi bi-search"></i></button>
			</form>
		</div>

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li>
				<li class="nav-item dropdown pe-3">
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
						<span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
					</a>
				</li>
			</ul>
		</nav>
	</header><!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartment}">
					<i class="bi bi-grid"></i>
					<span>Apartment</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartmentType}">
					<i class="bi bi-journal-text"></i>
					<span>ApartType</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/revenue}">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>Revenue</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/rented}">
					<i class="bi bi-envelope"></i>
					<span>Rented</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/apartStatus}">
					<i class="bi bi-card-list"></i>
					<span>Apart Status</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/admin/accountManagement}">
					<i class="bi bi-person"></i>
					<span>Account management</span>
				</a>
			</li>
		</ul>
	</aside><!-- End Sidebar-->

	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Apart Status</h1>
		</div><!-- End Page Title -->

		<section class="section">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card position-relative">
                <div class="card-body">
                    <h1>Revenue</h1>
                    <form th:action="@{/admin/revenue/excel}" method="post">
                        <button class="btn btn-primary" type="submit">Save Excel</button>
                    </form>
                    <table class="table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.id}">Id</td>
                                <td th:text="${item.name}">Name</td>
                                <td th:text="${item.person}">Username</td>
                                <td th:text="${item.sum}">Revenue</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
	<script src="../assets/js/main.js"></script>
</body>

</html>