<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- Favicons -->
    <link th:href="@{../assets/img/favicon.png}" rel="icon">
    <link th:href="@{../assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link th:href="@{../assets/css/style.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3580c0d03d.js" crossorigin="anonymous"></script>
    <link th:href="@{../css/poster.css}" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center">
                <img th:src="@{/assets/img/logo.png}" alt="">
                <span class="d-none d-lg-block">Poster</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
    </header><!-- End Header -->

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
        <div class="user-info">
            <div class="user-info-left">
                <img src="https://via.placeholder.com/80" alt="Avatar">
            </div>
            <div class="user-info-right">
                <h2 class="username">Tên người dùng</h2>
            </div>
            
        </div>
        <div class="account-balance">
            <div class="balance">Số dư tk: <strong>1.000.000 VND</strong></div>
            <button type="button" class="btn btn-primary btn-block">Nạp tiền</button>
        </div>
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/index}">
                    <i class="bi bi-grid"></i>
                    <span>Quản lý đăng tin</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/dangtinmoi}">
                    <i class="bi bi-journal-text"></i>
                    <span>Đăng tin mới</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/lichsunaptien}">
                    <i class="bi bi-layout-text-window-reverse"></i>
                    <span>Lịch sử nạp tiền</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/lichsugiaodich}">
                    <i class="bi bi-envelope"></i>
                    <span>Lịch sử giao dịch</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/thongtincanhan}">
                    <i class="bi bi-card-list"></i>
                    <span>Thông tin cá nhân</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/poster/lienhe}">
                    <i class="bi bi-person"></i>
                    <span>Liên hệ và trợ giúp</span>
                </a>
            </li>
        </ul>
    </aside><!-- End Sidebar -->

    <!-- Main Content -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Đăng tin mới</h1>
        </div><!-- End Page Title -->


        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Khu vực</h3>
                            <!-- <div class="alert alert-success" th:if="${not #strings.isEmpty(success)}"
                                th:text="${success}"></div>
                            <div class="alert alert-danger" th:if="${not #strings.isEmpty(error)}" th:text="${error}">
                            </div> -->
                            <form action="">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="col-md-10 mb-2">
                                            <label for="inputState" class="form-label">Tỉnh/thành phố *</label>
                                            <select id="inputState" class="form-select">
                                                <option selected>Chọn tỉnh/thành phố</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10 mt-4">
                                            <label for="inputState" class="form-label">Phường/xã</label>
                                            <select id="inputState" class="form-select">
                                                <option selected>Chọn phường/xã</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-10 mb-2">
                                            <label for="inputState" class="form-label">Quận/huyện *</label>
                                            <select id="inputState" class="form-select">
                                                <option selected>Chọn quận/huyện</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10 mt-4">
                                            <label for="inputState" class="form-label">Đường/phố</label>
                                            <select id="inputState" class="form-select">
                                                <option selected>Chọn đường/phố</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row mt-4">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Địa chỉ chính
                                                xác</label>
                                            <div class="col-sm-12">
                                                <textarea class="form-control" style="height: 100px"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Chuyên mục cho thuê *</h3>
                            <form action="">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="col-md-10 mb-2">
                                            <label for="inputState" class="form-label">Chuyên mục</label>
                                            <select id="inputState" class="form-select">
                                                <option selected>Chọn Chuyên mục</option>
                                                <option>Cho thuê phòng trọ</option>
                                                <option>Cho thuê chung cư</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="col-md-10 mb-2">
                                            <label for="inputState" class="form-label">Giá</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control">
                                                <span class="input-group-text">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-10 mb-2">
                                            <label for="inputState" class="form-label">Diện tích</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control">
                                                <span class="input-group-text">m2</span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Thông tin mô tả</h3>

                            <form action="">
                                <div class="row mb-3">
                                    <div class="row mt-4">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Tiêu đề *</label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Mô tả *</label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    <label for="input" class="col-sm-2 col-form-label mt-4">Hình ảnh</label>
                                    <div class="row ">
                                        <br>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="file" id="formFile">
                                        </div>
                                    </div>
                                    <label for="input" class="col-sm-2 col-form-label mt-4">Liên hệ</label>
                                    <div class="row ">
                                        <div class="col-sm-4">
                                            <label for="input" class="col-form-label">Tên *</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="input" class="col-form-label">Số điện thoại</label>
                                            <input type="number" class="form-control">
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="input" class="col-form-label">email</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <a name="" id="" class="btn btn-primary col-lg-12" href="#" role="button">Đăng tin</a>
                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyrights <strong><span>Poster</span></strong>. All Rights Reserved
        </div>
    </footer>End Footer

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>




</body>
<!-- JavaScript Files -->
<script th:src="@{../assets/angular.min.js}"></script>
<script th:src="@{../assets/js/apartment.js}"></script>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>


</html>