<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

		<!-- Favicons -->
		<link th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<!-- Template Main CSS File -->
	<link th:href="@{../assets/css/style.css}" rel="stylesheet">
	<link th:href="@{../css/poster.css}" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<!-- Header -->
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-between">
			<a href="#" class="logo d-flex align-items-center">
				<img th:src="@{/assets/img/logo.png}" alt="">
				<span class="d-none d-lg-block">Poster</span>
			</a>
		</div>
	</header><!-- End Header -->

	<!-- Sidebar -->
	<aside id="sidebar" class="sidebar">
		<div class="user-info">
			<div class="user-info-left">
				<img src="https://via.placeholder.com/80" alt="Avatar">
			</div>
			<div class="user-info-right">
				<h2 class="username">Tên người dùng</h2>
			</div>

		</div>
		<div class="account-balance">
			<div class="balance">Số dư tk: <strong>1.000.000 VND</strong></div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Nạp tiền
			</button>
		</div>
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/index}">
					<i class="bi bi-grid"></i>
					<span>Quản lý đăng tin</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/dangtinmoi}">
					<i class="bi bi-journal-text"></i>
					<span>Đăng tin mới</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/lichsunaptien}">
					<i class="bi bi-layout-text-window-reverse"></i>
					<span>Lịch sử nạp tiền</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/lichsugiaodich}">
					<i class="bi bi-envelope"></i>
					<span>Lịch sử giao dịch</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/thongtincanhan}">
					<i class="bi bi-card-list"></i>
					<span>Thông tin cá nhân</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{/poster/lienhe}">
					<i class="bi bi-person"></i>
					<span>Liên hệ và trợ giúp</span>
				</a>
			</li>
		</ul>
	</aside><!-- End Sidebar -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="left-panel">
						<h6 class="wallet">Ngân hàng</h6>
						<div class="payment-options">
							
							<img src="../images/anh1.jpg" alt="VISA" class="option" ng-click="selectPayment('visa')">
							<img src="../images/anh2.jpg" alt="MasterCard" class="option" ng-click="selectPayment('mastercard')">
							<img src="../images/anh3.jpg" alt="UnionPay" class="option" ng-click="selectPayment('unionpay')">
						</div>
						<h6 class="wallet">Tiền điện tử</h6>
						<div class="payment-options">
							<img src="../images/anh4.jpg" alt="Bitcoin" class="option" ng-click="selectPayment('bitcoin')">
							<img src="../images/anh5.jpg" alt="Ethereum" class="option" ng-click="selectPayment('ethereum')">
							<img src="../images/anh6.jpg" alt="Ripple" class="option" ng-click="selectPayment('ripple')">
						</div>
					</div>
					<div class="right-panel">
						<form ng-if="selectedPayment === 'visa'">
							<h6 class="Payment">Thanh toán qua VISA </h6>
							<div class="form-group wallet">
								<label for="visaCardNumber">Số thẻ</label>
								<input type="text" class="form-control" id="visaCardNumber" placeholder="Nhập số thẻ">
							</div>
							<div class="form-group wallet">
								<label for="accountName">Tên chủ thẻ</label>
								<input type="text" class="form-control" id="accountName" placeholder="Nhập tên chủ thẻ">
							</div>
							<div class="form-group wallet">
								<label for="visaExpiryDate">Ngày phát hành</label>
								<input type="text" class="form-control" id="visaExpiryDate" placeholder="MM/YY">
							</div>

						</form>
						<form ng-if="selectedPayment === 'mastercard'">
							<h6 class="Payment">Thanh toán qua Ngân hàng NCB</h6>
							<div class="form-group wallet">
								<label for="masterCardNumber">Số thẻ</label>
								<input type="text" class="form-control" id="masterCardNumber" placeholder="Nhập số thẻ">
							</div>
							<div class="form-group wallet">
								<label for="accountName">Tên chủ thẻ</label>
								<input type="text" class="form-control" id="accountName" placeholder="Nhập tên chủ thẻ">
							</div>
							<div class="form-group wallet">
								<label for="masterExpiryDate">Ngày phát hành</label>
								<input type="text" class="form-control" id="masterExpiryDate" placeholder="MM/YY">
							</div>

						</form>
						<form ng-if="selectedPayment === 'unionpay'">
							<h6 class="Payment">Thanh toán qua MOMO</h6>
							<div class="form-group wallet">
								<label for="unionPayCardNumber">Số thẻ</label>
								<input type="text" class="form-control" id="unionPayCardNumber"
									placeholder="Nhập số thẻ">
							</div>
							<div class="form-group wallet">
								<label for="accountName">Tên chủ thẻ</label>
								<input type="text" class="form-control" id="accountName" placeholder="Nhập tên chủ thẻ">
							</div>
							<div class="form-group wallet">
								<label for="phoneNumber">Số điện thoại</label>
								<input type="text" class="form-control" id="phoneNumber"
									placeholder="Nhập số điện thoại">
							</div>
							<div class="form-group wallet">
								<label for="visaExpiryDate">Ngày phát hành</label>
								<input type="text" class="form-control" id="visaExpiryDate" placeholder="MM/YY">
							</div>
						</form>
						<form ng-if="selectedPayment === 'bitcoin'">
							<h6 class="Payment">Thanh toán qua Bitcoin</h6>
							<div class="form-group wallet">
								<label for="bitcoinAddress">Địa chỉ ví Bitcoin </label>
								<input type="text" class="form-control" id="bitcoinAddress"
									placeholder="Nhập địa chỉ ví">
							</div>
						</form>
						<form ng-if="selectedPayment === 'ethereum'">
							<h6 class="Payment">Thanh toán qua Ethereum</h6>
							<div class="form-group wallet">
								<label for="ethereumAddress">Địa chỉ ví Ethereum</label>
								<input type="text" class="form-control" id="ethereumAddress"
									placeholder="Nhập địa chỉ ví">
							</div>
						</form>
						<form ng-if="selectedPayment === 'ripple'">
							<h6 class="Payment">Thanh toán qua Ripple</h6>
							<div class="form-group wallet">
								<label for="rippleAddress">Địa chỉ ví Ripple</label>
								<input type="text" class="form-control" id="rippleAddress"
									placeholder="Nhập địa chỉ ví">
							</div>
						</form>
						<div class="amount-selection mt-3">
							<ul>
								<li>
									<div class="amount-option" ng-click="selectAmount(100000)"
										ng-class="{'selected': selectedAmount === 100000}">100 nghìn</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(200000)"
										ng-class="{'selected': selectedAmount === 200000}">200 nghìn</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(300000)"
										ng-class="{'selected': selectedAmount === 300000}">300 nghìn</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(500000)"
										ng-class="{'selected': selectedAmount === 500000}">500 nghìn</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(1000000)"
										ng-class="{'selected': selectedAmount === 1000000}">1 triệu</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(2000000)"
										ng-class="{'selected': selectedAmount === 2000000}">2 triệu</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(3000000)"
										ng-class="{'selected': selectedAmount === 3000000}">3 triệu</div>
								</li>
								<li>
									<div class="amount-option" ng-click="selectAmount(5000000)"
										ng-class="{'selected': selectedAmount === 5000000}">5 triệu</div>
								</li>
							</ul>
						</div>
						<div class="form-group wallet">
							<label for="customAmount ">Số tiền muốn nạp</label>
							<input type="number" class="form-control" id="customAmount" ng-model="customAmount"
								placeholder="Tối thiểu 50.000đ">
						</div>
						<p class="mt-3">Bạn nhận được: <span id="amount-received">{{customAmount |
								currency:'':0}}</span></p>
						<p>Số tiền nạp tối thiểu: <span id="min-amount">50.000đ</span></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Nạp tiền</button>
				  </div>
			</div>
		</div>
	</div>
	<!-- Main Content -->
	<main id="main" class="main">
		<!-- Button trigger modal -->
		<div class="pagetitle">
			<h1>Quản lý đăng tin</h1>
		</div><!-- End Page Title -->

		<div class="row mb-3">
			<div class="col-sm-3">
				<div class="search">
					<input type="text" placeholder="Tìm kiếm...">
					<div class="search-icon"></div>
				</div>
			</div>
			<div class="col-sm-3">
				<select class="form-select" aria-label="Default select example">
					<option selected>Lọc theo loại tin</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
		</div>
		<div class="row col-sm mb-3">
			<div class="col-sm-auto">
				<button type="submit" class="btn btn-custom">Tất cả</button>
			</div>
			<div class="col-sm-auto">
				<button type="submit" class="btn btn-custom">Đang hiển thị</button>
			</div>
			<div class="col-sm-auto">
				<button type="submit" class="btn btn-custom">Đã cho thuê</button>
			</div>
			<div class="col-sm-auto">
				<button type="submit" class="btn btn-custom">Hết hạn</button>
			</div>
		</div>
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<!-- General Form Elements -->
							<!-- End General Form Elements -->
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Tin đăng</th>
											<th>Loại tin</th>
											<th>Trạng thái</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<th>2</th>
											<th>3</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main><!-- End #main -->

	<!-- Footer -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyrights <strong><span>Poster</span></strong>. All Rights Reserved
		</div>
	</footer><!-- End Footer -->

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
	integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
	crossorigin="anonymous"></script>
	<script>
		var app = angular.module('myApp', []);

		app.controller('myCtrl', ['$scope', function($scope) {
			$scope.selectedPayment = 'visa'; 
			$scope.selectedAmount = 100000;
			$scope.customAmount = 100000;

			$scope.selectPayment = function(method) {
				$scope.selectedPayment = method;
			};

			$scope.selectAmount = function(amount) {
				$scope.selectedAmount = amount;
				$scope.customAmount = amount;
			};
			
		}]);
		
	</script>
</body>

	

</html>