<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
	<main>
		<div class="main-banner" >
		<div class="owl-carousel owl-banner">
			<div class="item item-1">
				<div class="header-text">
					<span class="category">[(#{lo.a.district})] 7, <em>Hồ Chí Minh</em></span>
					<h2>[(#{lo.a.bestroom})]</h2>
				</div>
			</div>
			<div class="item item-2">
				<div class="header-text">
					<span class="category">Ba Đình, <em>HÀ Nội</em></span>
					<h2>[(#{lo.a.bestroomcapital})]</h2>
				</div>
			</div>
			<div class="item item-3">
				<div class="header-text">
					<span class="category">Thủ Dầu 1, <em>Bình Dương</em></span>
					<h2>[(#{lo.a.outstandingapartment})]</h2>
				</div>
			</div>
		</div>
	</div>

	<div class=" best-deal">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="section-heading">
						<h2>[(#{lo.a.outstandingapartment})]</h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="tabs-content">
						<div class="row">
							<div class="nav-wrapper ">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="appartment-tab"
											data-bs-toggle="tab" data-bs-target="#appartment"
											type="button" role="tab" aria-controls="appartment"
											aria-selected="true">Hồ Chí Minh</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="villa-tab" data-bs-toggle="tab"
											data-bs-target="#villa" type="button" role="tab"
											aria-controls="villa" aria-selected="false">Hà Nội</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="penthouse-tab"
											data-bs-toggle="tab" data-bs-target="#penthouse"
											type="button" role="tab" aria-controls="penthouse"
											aria-selected="false">Bình Dương</button>
									</li>
								</ul>
							</div>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="appartment"
									role="tabpanel" aria-labelledby="appartment-tab">
									<div class="row">
										<div class="col-lg-3">
											<div class="info-table">
												<ul>
													<li>[(#{lo.a.locate})]: <span> Phòng trọ Quận 7</span></li>
													<li>[(#{lo.a.address})]: <span> 34 Phan Huy Thực - P.Tân
															Kiểng - Q.7</span></li>
													<li>[(#{lo.a.acreage})]: <span>Phòng 22m2</span></li>
													<li>[(#{lo.a.price})]: <span> 3.5tr/[(#{lo.a.month})]</span></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6">
											<img src="../images/deal-01.jpg" alt="">
										</div>
										<div class="col-lg-3">
											<h4>[(#{lo.a.descinfo})]</h4>
											<ul>
												<li>- <span>[(#{lo.a.fullfurniture})]</span></li>
												<li>-<span> [(#{lo.a.safegood})]</span></li>
												<li>- <span>[(#{lo.a.balspa})]</span></li>
												<li>- <span>[(#{lo.a.seuncl})]</span></li>
												<li>-------------------------------</li>
												<li>[(#{lo.a.contact})] - [(#{lo.a.host})]: <span>0909090909</span></li>
											</ul>
											<div class="icon-button">
												<a href="property-details.html"><i
													class="fa fa-calendar"></i> [(#{lo.a.book})]</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="villa" role="tabpanel"
									aria-labelledby="villa-tab">
									<div class="row">
										<div class="col-lg-3">
											<div class="info-table">
												<ul>
													<li>[(#{lo.a.locate})]: <span> [(#{lo.a.apartment})] [(#{lo.a.district})] 7</span></li>
													<li>[(#{lo.a.address})]: <span> 34 Phan Huy Thực - P.Tân
															Kiểng - Q.7</span></li>
													<li>[(#{lo.a.acreage})]: <span>[(#{lo.a.room})] 22m2</span></li>
													<li>[(#{lo.a.price})]: <span> 3.5tr/[(#{lo.a.month})]</span></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6">
											<img src="../images/deal-02.jpg" alt="">
										</div>
										<div class="col-lg-3">
											<h4>[(#{lo.a.descinfo})]</h4>
											<ul>
												<li>- <span> [(#{lo.a.fullfurniture})]</span></li>
												<li>-<span> [(#{lo.a.safegood})]</span></li>
												<li>- <span>[(#{lo.a.balspa})]</span></li>
												<li>- <span>[(#{lo.a.seuncl})]</span></li>
												<li>-------------------------------</li>
												<li>[(#{lo.a.contact})] - [(#{lo.a.host})]: <span>0909090909</span></li>
											</ul>
											<div class="icon-button">
												<a href="property-details.html"><i
													class="fa fa-calendar"></i> [(#{lo.a.book})]</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="penthouse" role="tabpanel"
									aria-labelledby="penthouse-tab">
									<div class="row">
										<div class="col-lg-3">
											<div class="info-table">
												<ul>
													<li>[(#{lo.a.locate})]: <span> [(#{lo.a.apartment})] [(#{lo.a.district})] 7</span></li>
													<li>[(#{lo.a.address})]: <span> 34 Phan Huy Thực - P.Tân
															Kiểng - Q.7</span></li>
													<li>[(#{lo.a.acreage})]: <span>[(#{lo.a.room})] 22m2</span></li>
													<li>[(#{lo.a.price})]: <span> 3.5tr/[(#{lo.a.month})]</span></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-6">
											<img src="../images/deal-03.jpg" alt="">
										</div>
										<div class="col-lg-3">
											<h4>[(#{lo.a.descinfo})]</h4>
											<ul>
												<li>- <span> [(#{lo.a.fullfurniture})]</span></li>
												<li>-<span> [(#{lo.a.safegood})]</span></li>
												<li>- <span>[(#{lo.a.balspa})]</span></li>
												<li>- <span> [(#{lo.a.seuncl})]</span></li>
												<li>-------------------------------</li>
												<li>[(#{lo.a.contact})] - [(#{lo.a.host})]: <span>0909090909</span></li>
											</ul>
											<div class="icon-button">
												<a href="property-details.html"><i
													class="fa fa-calendar"></i> [(#{lo.a.book})]</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="video ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section-heading text-center">
						<h2>[(#{lo.a.closerfeel})]</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="video-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="video-frame">
						<img src="../images/video-frame.jpg" alt=""> <a
							href="https://youtube.com" target="_blank"><i
							class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fun-facts">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4">
								<div class="counter">
									<h2 class="timer count-title count-number" data-to="10000"
										data-speed="1000"></h2>
									<p class="count-text ">
										[(#{lo.a.people})] <br>[(#{lo.a.use})]
									</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="counter">
									<h2 class="timer count-title count-number" data-to="5"
										data-speed="1000"></h2>
									<p class="count-text ">
										[(#{lo.a.year})]<br>[(#{lo.a.establish})]
									</p>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="counter">
									<h2 class="timer count-title count-number" data-to="1234"
										data-speed="1000"></h2>
									<p class="count-text ">
										[(#{lo.a.apartment})]<br>[(#{lo.a.rentfor})]
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="properties section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section-heading text-center">

						<h2>[(#{lo.a.cheepfull})]</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/anh/phongtro1.jpg" alt=""></a> <span
							class="category">[(#{lo.a.cheeproom})]</span>
						<h6>$2.264.000</h6>
						<h4>
							<a href="property-details.html">[(#{lo.a.nesuni})]</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtime})]: <span>14-1-2024</span></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/anh/phongtro2.jpg" alt=""></a> <span
							class="category">[(#{lo.a.cheeproom})]</span>
						<h6>$1.180.000</h6>
						<h4>
							<a href="property-details.html">[(#{lo.a.nesuni})]</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtim})]: <span>14-1-2024</span></li>
						</ul>

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/anh/phongtro3.jpg" alt=""></a> <span
							class="category">[(#{lo.a.cheeproom})]</span>
						<h6>$1.460.000</h6>
						<h4>
							<a href="property-details.html">[(#{lo.a.nesuni})]</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtime})]: <span>14-1-2024</span></li>
						</ul>

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/property-04.jpg" alt=""></a> <span
							class="category">[(#{lo.a.apartment})] Thủ Đức</span>
						<h6>$584.500</h6>
						<h4>
							<a href="property-details.html">[(#{lo.a.nesuni})]</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtime})]: <span>14-1-2024</span></li>
						</ul>

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/property-05.jpg" alt=""></a> <span
							class="category">[(#{lo.a.apartment})] Thủ Đức</span>
						<h6>$925.600</h6>
						<h4>
							<a href="property-details.html">lo.a.nesuni</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtime})]: <span>14-1-2024</span></li>
						</ul>

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item">
						<a href="property-details.html"><img
							src="../images/property-06.jpg" alt=""></a> <span
							class="category">[(#{lo.a.apartment})] Thủ Đức</span>
						<h6>$450.000</h6>
						<h4>
							<a href="property-details.html">[(#{lo.a.nesuni})]</a>
						</h4>
						<ul>
							<li>[(#{lo.a.address})]: <span>[(#{lo.a.district})] 2 (TP. Thủ Đức), TPHCM</span></li>
							<li>[(#{lo.a.acreage})]: <span>28m2</span></li>
							<br>
							<li>[(#{lo.a.postingtime})]: <span>14-1-2024</span></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</html>