<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
<main>


	<section class="hero-section d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12 mx-auto">
					<form class="custom-form" role="form" action="../user/confirmRegister" method="post">
						<h2 class="hero-title text-center mb-4 pb-2">[(#{lo.a.confirmregister})]</h2>
						<div class="alert">
							<input type="hidden" name="thongbao" th:value="${message}" />
							<div class="alert alert-success" th:if="${messageCodeRegisterSuccess}"
								th:text="${messageCodeRegisterSuccess}"></div>
							<div class="alert alert-danger" th:if="${messageCodeRegisterFail}"
								th:text="${messageCodeRegisterFail}"></div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-12">
								<div class="form-floating p-0">
									<input type="text" name="codeRegister" id="codeRegister" class="form-control"
										placeholder="code 6 digits"> <label for="password">Code</label>
								</div>
							</div>
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-5 col-md-5 col-5 ms-auto">
									<button type="submit" class="form-control">[(#{lo.a.submit})]</button>
								</div>

								<div class="col-lg-6 col-md-6 col-7">
									<p class="mb-0">
										[(#{lo.a.ifualrea})] <a href="/user/login" class="ms-2">[(#{lo.a.signin})]</a>
									</p>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>

	</section>
</main>

</html>