<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <main>
       <section class="hero-section d-flex justify-content-center align-items-center">
           <div class="container">
               <div class="row">
                   <div class="col-lg-5 col-12 mx-auto">
					<form class="custom-form login-form" role="form" th:action="@{/user/sendforgotpassword}" method="post">
						 <h2 class="hero-title text-center mb-4 pb-2">Forgot Password</h2> 
						<div class="alert">
							<div class="alert alert-default" th:if="${message}" th:text="${message}"></div>
						</div>
						<div class="form-floating mb-4 p-0">
							<input type="email"  name="email" id="email" class="form-control"> 
							<label for="username">Nhập địa chỉ email của bạn</label>
						</div>
						<div class="row justify-content-center align-items-center">
							<div class="col-lg-5 col-12">
								<button type="submit" class="form-control">Submit</button>
							</div>
						</div>
					</form>
					</div>
               </div>
           </div>
       </section>
     </main>
</body>
</html>