<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
<main ng-app="app" ng-controller="ctrl">
	<div class="page-heading header-text">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="breadcrumb"><a href="#">[(#{lo.a.home})]</a> / [(#{lo.a.forrenthouse})]</span>
					<h3>[(#{lo.a.cheeproom})]</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-12 text-center mx-auto">
			<h2>[(#{lo.a.findroom})]</h2>
			<div class="hero-section-text">
				<form class="custom-form hero-form"  role="form">
					<div class="row">
						<div class="col-lg-2 col-md-6 col-12">
							<div class="input-group align-items-center">
								<label for="last-name">[(#{lo.a.type})]</label> <select name="apartType" ng-model="apartFilter"
									class="form-select form-control" id="" aria-label="Default select example"
									style="margin:2px;">

									<option ng-repeat="type in items1" value="{{type.id}}">{{type.name}}
									</option>
								</select>
							</div>
						</div>

						<div class="col-lg-2 col-md-6 col-12">
							<div class="input-group align-items-center">
								<label for="last-name">[(#{lo.a.price})]</label> <select name="priceFilter" ng-model="priceFilter"
									class="form-select form-control" id="" aria-label="Default select example"
									style="margin:2px;">
									<option value="1to2" selected>1.000.000VNĐ -
										2.000.000VNĐ</option>
									<option value="2to3">2.000.000VNĐ - 3.000.000VNĐ</option>
									<option value="3to5">3.000.000VNĐ - 5.000.000VNĐ</option>
									<option value="5to10">5.000.000VNĐ - 10.000.000VNĐ</option>
									<option value="upto10">Trên 10.000.000</option>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="input-group align-items-center">
								<label for="province">[(#{lo.a.province})]</label> <select id="province" ng-model="provinceFilter"
									class="form-select form-control" name="cityFilter" onchange="loadDistricts()"
									style="margin:2px;">
									<option selected disabled></option>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="input-group align-items-center">
								<label for="district">[(#{lo.a.district})]</label> <select id="district" ng-model="districtFilter"
									class="form-select form-control" name="districtFilter" onchange="loadWards()"
									style="margin:2px;">
									<option selected disabled></option>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<div class="input-group align-items-center">
								<label for="ward">[(#{lo.a.ward})]</label> <select id="ward" ng-model="wardFilter"
									class="form-select form-control" name="wardFilter" style="margin:2px;">
									<option selected disabled></option>
								</select>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<button type="submit" class="form-control" ng-click="searchApart(apartFilter,priceFilter,provinceFilter,districtFilter,wardFilter)">[(#{lo.a.search})]</button>
						</div>
					</div>
				</form>

			</div>
		</div>

	</div>

	<div class="section properties">

		<ul class="properties-filter">
			<li>
				<a href="" ng-click="sortByPrice()">[(#{lo.a.price})]</a>
			</li>
			<li>
				<a href="" ng-click="sortByAcreage()">[(#{lo.a.acreage})]</a>
			</li>
			<li>
				<a href="" ng-click="sortByPostingTime()">[(#{lo.a.postingtime})]</a>
			</li>
		</ul>
		<div class="container">
			<div class="row">
				<div ng-repeat="apartment in items | limitTo:limit:start" th:object="${apartment}"
					class="col-lg-4 col-md-6 align-self-center mb-30 col-md-6 rac adv">
					<div class="item">
						<a href="/detailapartment/{{apartment.id}}">
							<img src="../images/{{apartment.imagetitle}}" alt="">
						</a>
						<span class="category">{{apartment.apartmentType.name}}</span>
						<h6>
							<span />{{apartment.price}} VNĐ</span>
						</h6>
						<h4>
							<a href="/detailapartment/{{apartment.id}}">{{apartment.content}}</a>
						</h4>
						<ul>
							<li>
								<span th:text="#{lo.a.address}" />: <span class="diachi">{{apartment.address}},
									{{apartment.ward}}, {{apartment.district}},{{apartment.city}}</span>
							</li>
							<li>
								<span th:text="#{lo.a.acreage}" />: <span>{{apartment.acreage}} m2</span>
							</li>
							<br>
							<li>
								<span th:text="#{lo.a.postingtime}" />: <span>{{apartment.createdate}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link {{(page == 1)? 'disabled' :'' }}" href="#" aria-label="Previous" ng-click="changePage(page-1)">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#" ng-repeat="p in numberOfPage" ng-click="changePage(p+1)">{{p+1}}</a></li>
					<li class="page-item">
						<a class="page-link {{(page == totalPage)? 'disabled' :'' }}" href="#" aria-label="Next" ng-click="changePage(page+1)">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<script th:src="@{../js/listapartment.js}">

	</script>

</main>

</html>