<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
	<main>
            

            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
						<div>
							<a class="btn btn-lg btn-secondary fab fa-google" 
							href="/login/google">[(#{lo.a.continuewithgoogle})]</a>
						</div>
						<div>
							<a class="btn btn-lg btn-secondary fab fa-facebook" 
							href="/login/facebook">[(#{lo.a.continuewithfacebook})]</a>
						</div>
                        <div class="col-lg-5 col-12 mx-auto">
						<form class="custom-form login-form" role="form" th:action="@{/account/login-check}" method="post">
							<h2 class="hero-title text-center mb-4 pb-2">[(#{lo.a.signin})]</h2>
							<div class="alert">
								<input type="hidden" name="thongbao" value="${message}" />
								<div class="alert alert-success" th:if="${not #strings.isEmpty(messageCodeLoginSuccess)}" th:text="${messageCodeLoginSuccess}"></div>
								<div class="alert alert-danger" th:if="${not #strings.isEmpty(messageCodeLoginFail)}" th:text="${messageCodeLoginFail}"></div>
							</div>
							<div class="form-floating mb-4 p-0">
								<input type="text"  name="username" id="username"
								 class="form-control"
									placeholder="[(#{lo.a.username})]" > <label
									for="username">[(#{lo.a.username})]</label>
							</div>

							<div class="form-floating p-0">
								<input type="password" name="password" id="password"
									class="form-control" placeholder="[(#{lo.a.password})]" required="">

								<label for="password">[(#{lo.a.password})]</label>
							</div>

							<div class="form-check mb-4">
								<input class="form-check-input" type="checkbox" value=""
									id="flexCheckDefault"> <label class="form-check-label"
									for="flexCheckDefault"> [(#{lo.a.rememberme})] </label>
							</div>
							<div class="col-lg-12 col-12">
									<div class="form-check mb-4">
										<div class="g-recaptcha"
											data-sitekey="6LeLiE8pAAAAAF44OGTpyX1izlUopQDxhss3I2_V"></div>
									</div>
							</div>
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-4 col-12">
									<button type="submit" class="form-control">[(#{lo.a.signin})]</button>
								</div>

								<div class="col-lg-4 col-12">
									<a href="/user/register"
										class="btn custom-btn custom-border-btn">[(#{lo.a.signup})]</a>
								</div>
								<div class="col-lg-4 col-12">
									<a href="/user/forgotpassword"
										class="btn custom-btn custom-border-btn">[(#{lo.a.forgotpass})]</a>
								</div>
							</div>

						</form>

					</div>
                    </div>
                </div>
            </section>
        </main>
             
</html>