<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{/user/index :: areas(~{::main})}">
<main>
            

           
  <section
			class="hero-section d-flex justify-content-center align-items-center" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12 mx-auto">
						<form class="custom-form" role="form" action=""
							method="post" >
							<h2 class="hero-title text-center mb-2 pb-2">[(#{lo.a.rentapartmentform})]</h2>
							<div class="alert alert-danger" th:if="${messageRegister}"></div>
							<hr>
							<h6 class="hero-title text-center mb-4 pb-2">[(#{lo.a.infouser})]</h6>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating">
										<input type="text" name="firstname" id="first-name"
											class="form-control" placeholder="[(#{lo.a.firstname})]" th:value="${account.firstname}" readonly="readonly"> <label
											for="floatingInput">[(#{lo.a.firstname})]</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating">
										<input type="text" name="lastname" id="last-name"
											class="form-control" placeholder="[(#{lo.a.lastname})]" th:value="${account.lastname}" readonly="readonly"> <label
											for="floatingInput">[(#{lo.a.lastname})]</label>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating mb-4 p-0">
										<input type="email" name="email" id="email"
											class="form-control" placeholder="[(#{lo.a.emailaddress})]" th:value="${account.email}" readonly="readonly"> <label
											for="email">[(#{lo.a.emailaddress})]</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating">
										<input type="text" name="phone" id="phone-number"
											class="form-control" placeholder="[(#{lo.a.phonenumber})]" th:value="${account.phone}" readonly="readonly">

										<label for="floatingInput">[(#{lo.a.phonenumber})]</label>
									</div>
								</div>
								<h6 class="hero-title text-center mb-4 pb-2">[(#{lo.a.infoapartmentrent})]</h6>
								<div class="col-lg-12 col-12">
									<div class="form-floating p-0">
										<input type="text" name="apartmentTitle" id="username"
											class="form-control" placeholder="Apartment Title" th:value="${apartment.content}" readonly="readonly">

										<label for="password">[(#{lo.a.apartmenttitle})]</label>
									</div>
								</div>
								<div class="col-lg-12 col-12">
									<div class="form-floating p-0">
										<input type="text" name="address" id="username"
											class="form-control" placeholder="Address" th:value="${apartment.address}">

										<label for="password">[(#{lo.a.address})]</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<div class="form-floating">
										<select name="city" id="gender" class="form-control"
											>
											<option value="${apartment.city}" disabled selected th:text="${apartment.city}"></option>
										</select> <label for="gender">[(#{lo.a.city})]</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<div class="form-floating">
										<select name="district" id="gender" class="form-control"
											>
											<option value="" disabled selected th:text="${apartment.district}"></option>
										</select> <label for="gender">[(#{lo.a.district})]</label>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<div class="form-floating">
										<select name="ward" id="gender" class="form-control"
											>
											<option value="" disabled selected th:text="${apartment.ward}"></option>
										</select> <label for="gender">[(#{lo.a.ward})]</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating">
										<input type="text" name="acreage" id="first-name"
											class="form-control" placeholder="Acreage" th:value="${apartment.acreage}" readonly="readonly"> <label
											for="floatingInput">[(#{lo.a.acreage})]</label>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-floating">
										<select  id="paymentMonth" class="form-control" name="choosemonth"
											required="">
											<option value="" disabled selected>[(#{lo.a.choosemonthrent})]</option>
											<option value="onemonth">One month</option>
											<option value="sixmonth">Six month</option>
											<option value="twelvemonth">Twelve month</option>
										</select> <label for="gender">[(#{lo.a.typeofpayment})]</label>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-floating">
										<input type="text" name="price" id="price"
											class="form-control" placeholder="Price" th:value="${#numbers.formatDecimal(apartment.price, 0, 'COMMA', 2, 'POINT') + ' VNĐ'}" readonly="readonly"> <label
											for="floatingInput">[(#{lo.a.price})]</label>
											<input type="hidden" id="formattedPrice" th:value="${apartment.price}">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-floating">
										<select  id="paymentMethod" class="form-control" 
											required="">
											<option value="" disabled selected>[(#{lo.a.typeofpayment})]</option>
											<option value="banking">Banking</option>
											<option value="vnpay">VNPAY</option>
											<option value="momo">Momo</option>
										</select> <label for="gender">[(#{lo.a.typeofpayment})]</label>
									</div>
								</div>
								<div class="row justify-content-center align-items-center">
									<div class="col-lg-12 col-md-12 col-12">
										<button type="submit" class="form-control" formaction="" id="makePaymentBtn">[(#{lo.a.makepayment})]</button>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
		  <script>
		function onSubmit(token) {
			document.getElementById("demo-form").submit();
		}
	</script>
	<script>
	document.getElementById('makePaymentBtn').addEventListener('click', function(event) {
	    // Lấy giá trị đã chọn trong select
	    var selectedPaymentMethod = document.getElementById('paymentMethod').value;
	    var selectedMonthMethod = document.getElementById('paymentMonth').value;
	    var selectedMonth = document.getElementById('paymentMonth').value;
	    // Kiểm tra nếu giá trị là "VNPAY" hoặc "MOMO" thì thực hiện chuyển hướng
	    if ((selectedPaymentMethod === 'vnpay' || selectedPaymentMethod === 'momo') && (selectedMonthMethod === 'onemonth' || 
	    		selectedMonthMethod === 'sixmonth' || selectedMonthMethod === 'twelvemonth')) {
	        // Ngăn chặn sự kiện mặc định của nút submit
	        event.preventDefault();

	        // Gọi AJAX để lấy đường dẫn trả về từ "/user/create_payment_vnpay" hoặc "/user/create_payment_momo"
	        var xhr = new XMLHttpRequest();
	        xhr.open('GET', '/user/create_payment_' + selectedPaymentMethod + '?choosemonth=' + selectedMonth, true);
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState == 4 && xhr.status == 200) {
	                var paymentUrl = xhr.responseText;
	                // Chuyển hướng người dùng đến đường dẫn trả về sau khi đã xử lý xong yêu cầu AJAX
	                window.location.href = paymentUrl;
	            }
	            
	        };
	        xhr.send();
	    } else {
	        // Nếu lựa chọn không phải là "VNPAY" hoặc "MOMO", bạn có thể xử lý hoặc hiển thị thông báo tùy ý
	        alert('Please select VNPAY or MOMO as the payment method. or month not choose');
	    }
	});
</script>

<script>
document.getElementById('paymentMonth').addEventListener('change', function(event) {
    // Lấy giá trị đã chọn trong select
    var selectedMonth = document.getElementById('paymentMonth').value;

    // Khai báo biến giá tiền

    var formattedPrice = document.getElementById('formattedPrice').value;
    var price = formattedPrice;
    // Dựa vào giá trị của tháng, cập nhật giá trị của giá tiền
    switch(selectedMonth) {
        case 'onemonth':
            price = price;
            break;
        case 'sixmonth':
            price = price*6;
            break;
        case 'twelvemonth':
            price = price*12;
            break;
        default:
            price = 0; // Nếu không có giá trị nào khớp, giá tiền là 0
    }

    // Cập nhật giá trị của trường giá tiền
     document.getElementById('price').value = price.toLocaleString() + ' VNĐ'; // Định dạng lại giá trị số và thêm 'VNĐ'
});
</script>
        </main>
</html>