<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8">
	<title>ASM_JaVA5</title>
	<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{../css/tooplate-kool-form-pack.css}" rel="stylesheet">
	<link th:href="@{../css/bootstrap-icons.css}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- Additional CSS Files -->
	<link th:href="@{../css/fontawesome.css}" rel="stylesheet">
	<link th:href="@{../css/templatemo-villa-agency.css}" rel="stylesheet">
	<link th:href="@{../css/owl.css}" rel="stylesheet">
	<link th:href="@{https://unpkg.com/swiper@7/swiper-bundle.min.css}" rel="stylesheet" />
	<script th:src="@{https://www.google.com/recaptcha/api.js}" async defer></script>
	<link th:href="@{../css/tooplate-moso-interior.css}" rel="stylesheet">
	<link
		th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap}"
		rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.4.0/exceljs.min.js"></script>
</head>

</html>